# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

.dockerignore
.editorconfig
.env
.env.example
.gitattributes
.prettierrc.json
.vscode
Dockerfile
eslint.config.js
jsconfig.json
node_modules
